In [151]:
import re
import math
from decimal import Decimal, ROUND_DOWN

In [7]:
first_name = "Yasir"
second_name = "Abdullah"
last_name = "Binsaif"
print("This is {} {} {}".format(first_name, second_name, last_name))

This is Yasir Abdullah Binsaif

In [21]:
for i, x in enumerate(first_name): 
    print(i, x)

0 Y
1 a
2 s
3 i
4 r

In [38]:
name = "This is my name: Yasir, and I want you to meet me in the garden"
for i, x in enumerate(name):
    print(i,x)

0 T
1 h
2 i
3 s
4
5 i
6 s
7
8 m
9 y
10
11 n
12 a
13 m
14 e
15 :
16
17 Y
18 a
19 s
20 i
21 r
22 ,
23
24 a
25 n
26 d
27
28 I
29
30 w
31 a
32 n
33 t
34
35 y
36 o
37 u
38
39 t
40 o
41
42 m
43 e
44 e
45 t
46
47 m
48 e
49
50 i
51 n
52
53 t
54 h
55 e
56
57 g
58 a
59 r
60 d
61 e
62 n
 Yasir is my name

In [45]:
print(name[0:5:2])

Ti

In [56]:
print((name + "\t")*3)

This is my name: Yasir, and I want you to meet me in the garden	This is my name: Yasir, and I want you to meet me in the garden	This is my name: Yasir, and I want you to meet me in the garden

In [12]:
names = ["yasir", "abdullah", "binsaif"]
for i, x in enumerate(names):
    corrected_name = x[0].upper() + x[1:]
    names[i] = corrected_name

print(names)

['Yasir', 'Abdullah', 'Binsaif']

In [3]:
sentence = "my name is yasir"
print(sentence.find("zft"))

-1

In [9]:
name = "The playmaker is good"
split_string = name.split()
split_string

['The', 'playmaker', 'is', 'good']

In [11]:
arr = ["ahmed", "faisal", "khaled"]

for i, x in enumerate(arr):
    arr[i] = x[0].upper() + x[1:]

name = arr[0] +" "+ arr[1] +" "+ arr[2]

Ahmed Faisal Khaled

['He', 'is', 'good']

In [27]:
sentence = "humans must explore the universe, humans are explorers by default"
pattern = r"humans"

results = re.search(pattern, sentence)
if results:
    print("Match found", results)
else:
    print("Match not found", results)

Match found <re.Match object; span=(0, 6), match='humans'>

In [34]:
pattern = r"\D\D"
text = "My Phone number is 1234567890"
match = re.search(pattern, text)

if match: 
    print("match found", match)
else:
    print("match not found")

match found <re.Match object; span=(0, 2), match='My'>

In [35]:
pattern = r"\W"
text = "Hello, world!"
matches = re.findall(pattern, text)
print("Matches:", matches)

Matches: [',', ' ', '!']

In [42]:
s2 = "I went to the park with my dog, and I found a new toy for my dog in the way back home."
results = re.findall("dog", s2)
print(results)

['dog', 'dog']

In [44]:
split_array = re.split(r"\s", s2)
print(split_array)

['I', 'went', 'to', 'the', 'park', 'with', 'my', 'dog,', 'and', 'I', 'found', 'a', 'new', 'toy', 'for', 'my', 'dog', 'in', 'the', 'way', 'back', 'home.']

In [46]:
pattern = r"dog"
replacement = "cat"
new_string = re.sub(pattern, replacement, s2, flags = re.IGNORECASE)
print(new_string)

I went to the park with my cat, and I found a new toy for my cat in the way back home.

In [51]:
d = "ABCDEFG"
d[:3]

'ABC'

In [52]:
e = "clocrkr1e1c1t"
e[::2]

'correct'

In [59]:
print("\\")

\

In [61]:
f = "You are wrong"
f.upper()

'YOU ARE WRONG'

In [68]:
g = "Mary had a little lamb Little lamb, little lamb Mary had a little lamb \
Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go"

In [76]:
str1 = "The quick brown fox jumps over the lazy dog"
re.sub("fox", "bear", str1)

'The quick brown bear jumps over the lazy dog'

In [77]:
str2= "How much wood would a woodchuck chuck, if a woodchuck could chuck wood?"
re.findall("woo", str2)

['woo', 'woo', 'woo', 'woo']

In [78]:
print("AB\nC\nDE")

AB
C
DE

In [32]:
inventory = {
        "ProductNo1" : "Mobile Phone",
        "ProductNo1_quantity" :5,
        "ProductNo1_price" : 20000,
        "ProductNo1_releaseYear" : 2020
}
print(inventory)

{'ProductNo1': 'Mobile Phone', 'ProductNo1_quantity': 5, 'ProductNo1_price': 20000, 'ProductNo1_releaseYear': 2020}

In [33]:
del(inventory["ProductNo1"])

In [34]:
print(inventory)

{'ProductNo1_quantity': 5, 'ProductNo1_price': 20000, 'ProductNo1_releaseYear': 2020}

In [39]:
inventory.keys()

dict_keys(['ProductNo1_quantity', 'ProductNo1_price', 'ProductNo1_releaseYear'])

In [36]:
A = {
    "a": 1,
    "b": 2
}

In [38]:
print(A.keys())

dict_keys(['a', 'b'])

In [50]:
setA = {1,2,3,4,5}
print(list(setA))
setA.remove(1)
print(setA)

[1, 2, 3, 4, 5]
{2, 3, 4, 5}

In [47]:
list_of_names = ["ahmed","faisal","yasir","osama","ibrahim","yasir"]
print(set(list_of_names))

{'yasir', 'faisal', 'ahmed', 'ibrahim', 'osama'}

In [51]:
setA = {11,25,11,23,42,24}
setB= {23,43,22,14,18}
setC = setA & setB 
print(setC)

{23}

In [58]:
setA = {11,25,11,23,42,24}
setB= {23,43,22,14,18}
setC = setA.union(setB)
print(setC, len(setA), len(setB), len(setC), setA.issubset(setC))

{42, 11, 43, 14, 18, 22, 23, 24, 25} 5 5 9 True

In [59]:
A = set(["Thriller", "Back in Black", "AC/DC"])
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [61]:
A.add("NSYNC")
A

{'AC/DC', 'Back in Black', 'NSYNC', 'Thriller'}

In [62]:
A.remove("NSYNC")
A

{'AC/DC', 'Back in Black', 'Thriller'}

In [63]:
"AC/DC" in A

True

In [75]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
intersection = album_set1 & album_set2
union = album_set1 | album_set2  ## we can also do album_set1.union(album_set2)
# print(intersection)
# print(album_set1.difference(album_set2))
# print(album_set2.difference(album_set1))
# print(album_set1.intersection(album_set2))
# print(album_set1 | album_set2)
set(album_set1).issuperset(album_set2)
set(album_set2).issuperset(album_set1)
album_set1.issubset(album_set2)

False

In [77]:
music_types= set(['rap','house','electronic music', 'rap'])

{'rap', 'electronic music', 'house'}

In [80]:
A = [1, 2, 2, 1]
B = set([1, 2, 2, 1])
sum(A) == sum(B)

False

In [83]:
album_set1 = set(["Thriller", 'AC/DC', 'Back in Black'])
album_set2 = set([ "AC/DC", "Back in Black", "The Dark Side of the Moon"])
album_set3 = album_set1 | album_set2 
print(album_set3 ,len(album_set1), len(album_set2), len(album_set3))

{'Back in Black', 'The Dark Side of the Moon', 'Thriller', 'AC/DC'} 3 3 4

In [85]:
album_set1.issubset(album_set3)

True

In [3]:
visitors = {'user123', 'user456'}
visitors.add('user789')
visitors

{'user123', 'user456', 'user789'}

In [4]:
a = 5
b = 7
a == b

False

In [8]:
i = 6
i >= 5

True

In [14]:
i!=5

True

In [16]:
name = "ahmed"
if name == "yasir":
    print("Correct!")
elif name == "ahmed":
    print("Maybe!")
else: 
    print("Wrong!")

Maybe!

In [18]:
not(True)
not(False)

True

In [19]:
False or False

False

In [20]:
False or True

True

In [32]:
album_year = 1990
if (album_year < 1980) or (album_year > 1989):
    print("The Album was made in the 70's or 90's")
else:
    print("The Album was made in the 1980's")

The Album was made in the 70's or 90's

In [33]:
skills = ["football", "basketball"]
if "football" in skills and "basketball" in skills:
    print("Good job!")
else: 
    print("Try again!")

Good job!

In [34]:
skills = ["football", "tennis"]
if "football" in skills and "basketball" in skills:
    print("Good job!")
else: 
    print("Try again!")

Try again!

In [107]:
sales = [
    {"product": "Apple", "price": 1.2, "quantity": 10},
    {"product": "Banana", "price": 0.8, "quantity": 25},
    {"product": "Orange", "price": 1.5, "quantity": 8},
    {"product": "Mango", "price": 2.0, "quantity": 5},
    {"product": "Apple", "price": 1.2, "quantity": 15},
    {"product": "Banana", "price": 0.8, "quantity": 30}
]

def analyze_data (data):
    
    total_revenue = 0
    quantity_dict = {}
    revenue_dict = {}
    prices_dict = {}

    for row in data: 
        product, price, quantity = row["product"], row["price"], row["quantity"]

        total_revenue += price * quantity

        quantity_dict[product] = quantity_dict.get(product,0) + quantity

        revenue_dict[product] = revenue_dict.get(product,0) + price * quantity

        prices_dict.setdefault(product, price)

    most_popular = max(quantity_dict, key=quantity_dict.get)

    average_price = sum(prices_dict.values())/len(prices_dict)

    top_revenue = max(revenue_dict, key=revenue_dict.get)


    return {
        "quantities": quantity_dict,
        "revenues": revenue_dict, 
        "prices": prices_dict,
        "most_popular_product": most_popular,
        "average_price": average_price, 
        "top_revenue_product": top_revenue
    }
analyze_data(sales)

{'quantities': {'Apple': 25, 'Banana': 55, 'Orange': 8, 'Mango': 5},
 'revenues': {'Apple': 30.0, 'Banana': 44.0, 'Orange': 12.0, 'Mango': 10.0},
 'prices': {'Apple': 1.2, 'Banana': 0.8, 'Orange': 1.5, 'Mango': 2.0},
 'most_popular_product': 'Banana',
 'average_price': 1.375,
 'top_revenue_product': 'Banana'}

In [374]:
# movies = [
#     {"title": "Inception", "genre": "Sci-Fi", "rating": 8.8, "votes": 1200},
#     {"title": "The Matrix", "genre": "Sci-Fi", "rating": 8.7, "votes": 950},
#     {"title": "Interstellar", "genre": "Sci-Fi", "rating": 8.6, "votes": 1000},
#     {"title": "The Godfather", "genre": "Crime", "rating": 9.2, "votes": 1500},
#     {"title": "The Dark Knight", "genre": "Action", "rating": 9.0, "votes": 2000},
#     {"title": "Pulp Fiction", "genre": "Crime", "rating": 8.9, "votes": 1100},
# ]

# def analyze_movie (data):

#     ratings = []
#     votes_dict = {}
#     movies_per_genre = {}
#     weighted_ratings_dict = {}
#     top_rated_movies = {}
    
#     for row in data: 
#         title, genre, rating, votes = row["title"], row["genre"], row["rating"], row["votes"]
#     # add the name of the movie and his rating 
#         ratings.append(rating)
#     # add movie name and votes
#         votes_dict[title] = votes_dict.get(title, 0) + votes
#     # add movies and genre
#         movies_per_genre[genre] = movies_per_genre.get(genre, 0) + 1
#     # find highest rated per genre
    
#         if genre not in top_rated_movies:
#               top_rated_movies[genre] = row
             
#         else:
#                   top_rated_movies[genre] = row
                  
        
#     # find the highest weighted rating movie
#         weighted_ratings_dict[title] = weighted_ratings_dict.get(title, 0) + rating * votes
#     # find the average rating
#     average_rating = sum(ratings)/len(ratings)
  
#     # find the most voted movie
#     most_voted_movie = max(votes_dict, key=votes_dict.get)
#     highest_weighted_movie = max(weighted_ratings_dict, key=weighted_ratings_dict.get)
#     top_titles = {g: m["title"] for g, m in top_rated_movies.items()}
    
    
#     return {
#         "average_rating": float(average_rating),
#         "most_voted_movie": most_voted_movie,
#         "movies_per_genre": movies_per_genre, 
#         "highest_weighted_movie": highest_weighted_movie,
#          "top_rated_title": top_titles,
#     }
    
# analyze_movie(movies)

In [1]:
# movies = [
#     {"title": "Inception", "genre": "Sci-Fi", "rating": 8.8, "votes": 1200},
#     {"title": "The Matrix", "genre": "Sci-Fi", "rating": 8.7, "votes": 950},
#     {"title": "Interstellar", "genre": "Sci-Fi", "rating": 8.6, "votes": 1000},
#     {"title": "The Godfather", "genre": "Crime", "rating": 9.2, "votes": 1500},
#     {"title": "The Dark Knight", "genre": "Action", "rating": 9.0, "votes": 2000},
#     {"title": "Pulp Fiction", "genre": "Crime", "rating": 8.9, "votes": 1100},
# ]
# def analyze_movies (data): 
#     ratings = []
#     votes_dict = {}
#     movies_by_genre = {}
#     highest_rated_movies = {}
#     highest_weighted_movies = {}

#     for row in data:
#         # Assign the data 
#         title, genre, rating, votes = row["title"], row["genre"], row["rating"], row["votes"]
#         # add ratings to ratings list 
#         ratings.append(rating)
#         # find the movie with the most amount of votes 
#         votes_dict[title] = votes
#         # count movies per genre
#         movies_by_genre[genre]= movies_by_genre.get(genre, 0) + 1
#         # find highest rated per genre 
#         if genre not in highest_rated_movies:
#             highest_rated_movies[genre] = row
#         else: 
#             if rating > highest_rated_movies[genre]["rating"]:
#                 highest_rated_movies = row

#         # add weighted ratings to the dict
#         highest_weighted_movies[title] = rating * votes
#     # average rating
#     average_rating = sum(ratings)/len(ratings)
#     # most voted movie
#     most_voted_movie = max(votes_dict, key=votes_dict.get)
#     # highest weighted movie 
#     highest_weighted_movie = max(highest_weighted_movies, key=highest_weighted_movies.get)
#     # highest rated movie dict cleaner
#     highest_rated_movies = {genre: title["title"] for genre, title in highest_rated_movies.items()}

#     return {
#         "average_rating": average_rating,
#         "most_voted_movie": most_voted_movie,
#         "movies_per_genre": movies_by_genre,
#         "highest_rated_movies": highest_rated_movies,
#         "highest_weighted_movie": highest_weighted_movie
#     }
    
# analyze_movies(movies)

In [68]:
# movies = [
#     {"title": "Inception", "genre": "Sci-Fi", "rating": 8.8, "votes": 1200},
#     {"title": "The Matrix", "genre": "Sci-Fi", "rating": 8.7, "votes": 900},
#     {"title": "The Godfather", "genre": "Crime", "rating": 9.2, "votes": 1500},
#     {"title": "The Dark Knight", "genre": "Action", "rating": 9.0, "votes": 2000},
#     {"title": "Pulp Fiction", "genre": "Crime", "rating": 8.9, "votes": 1700},
#     {"title": "Avengers: Endgame", "genre": "Action", "rating": 8.4, "votes": 2200}
# ]

# def analyze_movies (data):
#     most_voted_movie_per_genre = {}

#     for row in data: 
#         title, genre, rating, votes = row["title"], row["genre"], row["rating"], row["votes"]
#         # populate most_voted_movie_per_genre
#         if genre not in most_voted_movie_per_genre:
#             most_voted_movie_per_genre[genre] = row
#         else:
#             if votes > most_voted_movie_per_genre[genre]["votes"]:
#                 most_voted_movie_per_genre[genre] = row

#     # clean most_voted_movie_per_genre
#     most_voted_movie_per_genre = {genre: {"title": old_dict["title"], "votes": old_dict["votes"]} for genre, old_dict in most_voted_movie_per_genre.items()}

#     return most_voted_movie_per_genre
# analyze_movies(movies)

{'Sci-Fi': {'title': 'Inception', 'votes': 1200},
 'Crime': {'title': 'Pulp Fiction', 'votes': 1700},
 'Action': {'title': 'Avengers: Endgame', 'votes': 2200}}

In [95]:
squares = ["orange", "orange", "purple", "orange", "blue"]
new_squares = []
i = 0 
while squares[i] == "orange":
    new_squares.append(squares[i])
    i = i + 1

print(new_squares)

['orange', 'orange']

In [102]:
for number in range(11):
    print(number)

# for number in range(1,11):
 #   print(number)

0
1
2
3
4
5
6
7
8
9
10

In [104]:
count = 1
while count < 10:
    print(count)
    count+=1

1
2
3
4
5
6
7
8
9

In [105]:
squares = ['red', 'yellow', 'green', 'purple', 'blue']

for i in range(0, 5):
    print("Before square ", i, 'is',  squares[i])
    squares[i] = 'white'
    print("After square ", i, 'is',  squares[i])

Before square  0 is red
After square  0 is white
Before square  1 is yellow
After square  1 is white
Before square  2 is green
After square  2 is white
Before square  3 is purple
After square  3 is white
Before square  4 is blue
After square  4 is white

['ahmed', 'faisal', 'osama']

In [114]:
squares=['red', 'yellow', 'green', 'purple', 'blue']
for square in squares:
    print(square)

red
yellow
green
purple
blue

In [131]:
squares = ['orange', 'orange', 'purple', 'blue ', 'orange']
new_squares = []
i = 0 
while i < len(squares) and squares[i] == "orange":
    new_squares.append("orange")
    i+=1
print(new_squares)

['orange', 'orange']

In [153]:
def frequency_counter (string):
    

    words = string.split(" ")
    words_dict = {}
    
    for word in words:
        print(word)




frequency_counter("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go")

Mary
had
a
little
lamb
Little
lamb,
little
lamb
Mary
had
a
little
lamb.Its
fleece
was
white
as
snow
And
everywhere
that
Mary
went
Mary
went,
Mary
went
Everywhere
that
Mary
went
The
lamb
was
sure
to
go

In [145]:
if "." in "lamb.its": 
    print("lamb.its".replace(".", " "))
else:
    print("no")

lamb its

In [178]:
def freq(string):
    
    #step1: A list variable is declared and initialized to an empty list.
    words = []
    
    #step2: Break the string into list of words
    words = string.split() # or string.lower().split()
    
    #step3: Declare a dictionary
    Dict = {}
    
    #step4: Use for loop to iterate words and values to the dictionary
    for key in words:
        Dict[key] = words.count(key)
        
    #step5: Print the dictionary
    print("The Frequency of words is:",Dict)
    
#step6: Call function and pass string in it
freq("Mary had a little lamb Little lamb, little lamb Mary had a little lamb.Its fleece was white as snow And everywhere that Mary went Mary went, Mary went \
Everywhere that Mary went The lamb was sure to go")

The Frequency of words is: {'Mary': 6, 'had': 2, 'a': 2, 'little': 3, 'lamb': 3, 'Little': 1, 'lamb,': 1, 'lamb.Its': 1, 'fleece': 1, 'was': 2, 'white': 1, 'as': 1, 'snow': 1, 'And': 1, 'everywhere': 1, 'that': 2, 'went': 3, 'went,': 1, 'Everywhere': 1, 'The': 1, 'sure': 1, 'to': 1, 'go': 1}

In [184]:
def ratings (rating=4):
    print(rating)
ratings()

4

In [198]:
def movies (**names_and_sometimes_rating):
    for key, value in names_and_sometimes_rating.items():
        print(key, value)
        
movies(Thegodfather=7)

Thegodfather 7

In [19]:
def con(a,b):
    return (a+b)
con("hello", "world")

'helloworld'

In [24]:
con

[1, 2, 3, 4]